body{
	margin:0;
	padding:0;
}
#control-panel{
	background:rgba(20, 20, 20, 0.5);
	position: absolute;
	text-align:center;
	height:500px;
	width: 150px;
	z-index: 200;
	top: 30px;
	left: 30px;
	overflow: visible !important;
}
#control-handle{
	float: right;
	height:30px;
	width:30px;
	border-radius: 100%;
	background: salmon;
	margin-right: -15px;
	margin-top: -15px;
}
#control-handle:hover{
	background: lightgreen;
	cursor: pointer;
}
.control{
	margin-top:20px;
}
.control-orb{
	border-radius: 100%;
	height: 30px;
	width: 30px;
	border: none;
	outline: none;
	background: white;
	cursor: pointer;
}
.control-orb:hover{
	background: lightgreen;
}
#grid-coordinates{
	position: absolute;
	width: 150px;
	bottom: 10px;
	color: white;
	font-family: monospace;
	font-size: 16px;
}
/*#map-container{
	width:500px;
	margin: 0 auto;
	margin-top:50px;
	border: 1px solid black;
	overflow: visible;
	box-sizing: content-box;
}*/
#map-container{
	width:100%;
	max-height:100vh;
	box-sizing: content-box;
}
svg {
	-webkit-backface-visibility: initial !important;
	-webkit-transform-origin: 50% 50%;
}
.street{
	fill:#f1f1f1;
}
.house{
	fill: lightblue;
	cursor: pointer !important;
}
.house:hover{
	fill: salmon;
}
.sidewalk{
	fill:darkgrey;
}
.park{
	fill:lightgreen;
}
.grid-square{
	fill: transparent;
	stroke: rgba(238,238,238, 0.8);
	stroke-width: 0.4;
}
.grid-square:hover{
	fill: rgba(20, 20, 20, 0.8);
}
#svg-background{
	fill:white;
}
.type0{
	fill:salmon;
	fill-opacity: 0.5;
}
.type1{
	fill:lightblue;
	fill-opacity: 0.5;
}
.type2{
	fill:lightgreen;
	fill-opacity: 0.5;
}
.type3{
	fill:white;
	fill-opacity: 0.5;
}
#type0-brush{
	background:salmon;
}
#type1-brush{
	background:lightblue;
}
#type2-brush{
	background:lightgreen;
}
#type3-brush{
	background:white;
}
.brush:hover{
	border: 2px solid white;
}