body{
	margin:0;
	padding:0;
}
#controls{
	background:rgba(20, 20, 20, 0.5);
	position: absolute;
	text-align:center;
	height:500px;
	width: 150px;
	z-index: 200;
	top: 30px;
	left: 30px;
	overflow: visible !important;
}
#control-handle{
	float: right;
	height:20px;
	width:20px;
	border-radius: 100%;
	background: salmon;
	margin-right: -10px;
	margin-top: -10px;
}
#control-handle:hover{
	background: lightgreen;
	cursor: move;
}
.control{
	margin-top:20px;
}
/*#map-container{
	width:500px;
	margin: 0 auto;
	margin-top:50px;
	border: 1px solid black;
	overflow: visible;
	box-sizing: content-box;
}*/
#map-container{
	width:100%;
	max-height:100vh;
	box-sizing: content-box;
}
svg {
	-webkit-backface-visibility: initial !important;
	-webkit-transform-origin: 50% 50%;
}
.street{
	fill:#f1f1f1;
}
.house{
	fill: lightblue;
	cursor: pointer !important;
}
.house:hover{
	fill: salmon;
}
.sidewalk{
	fill:darkgrey;
}
.park{
	fill:lightgreen;
}
.grid-square{
	fill: transparent;
	stroke: rgba(238,238,238, 0.6);
	stroke-width: 0.5;
}
.grid-square:hover{
	fill:rgba(250,128,114, 0.7);
}
#svg-background{
	fill:white;
}